@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayCurrentTime</title>
</head>
<body>
    <div>
      <h3>@ViewData["CurrentTime"]</h3>
    </div>
</body>
</html>
