@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Greet</title>
</head>
<body>
    <div>
      <h3>Hi! I'm learning MVC Architecture with C#, ASP.NET, and Razor Syntax!</h3>
    </div>
</body>
</html>
