
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelloView</title>
</head>
<body>
    <div>
      I'm learning MVC Architecture with C# and ASP.NET with Razor Syntax!
    </div>
</body>
</html>
