@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewSelectedEmployee</title>
</head>
<body>
    <div>
      @{ 
          Hello_App.Models.Employee emp = (Hello_App.Models.Employee)
              ViewBag.Employee;
      }

      <h2>Employee Details:</h2>
      <h3>Name: @emp.FirstName @emp.LastName</h3>
      <h3>Salary: @emp.Salary.ToString("C")</h3>
    </div>
</body>
</html>
