@{
    Layout = null;
}

@model Hello_App.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewSelectedEmployee</title>
</head>
<body>
    <div>
      <h2>Employee Details:</h2>
      <h3>Name: @Model.FirstName @Model.LastName</h3>

      @if (Model.Salary > 15000)
      {
          <h3>
            <span style="background-color:greenyellow">
              Employee Salary: @Model.Salary.ToString("C")
            </span>
          </h3>
      }

      else
      {
          <h3>
            <span style="background-color:forestgreen">
              Employee Salary: @Model.Salary.ToString("C")
            </span>
          </h3>
      }

    </div>
</body>
</html>
