@{
    Layout = null;
}

@using Hello_App.ViewModels
@model EmployeeListViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewSelectedEmployee</title>
</head>
<body>
  <h1>Hello, @Model.Username!</h1>
  <hr />

    <div>
      <table>
        <tr>
          <th>Employee Name</th>
          <th>Salary</th>
        </tr>

        @foreach (EmployeeViewModel item in Model.Employees)
        {
            <tr>
              <td>@item.EmployeeName</td>
              <td style="background-color:@item.SalaryColor">@item.Salary</td>
            </tr>
        }
      </table>
    </div>
  <a href="/Employee/AddNew">Add New!</a>
</body>
</html>
